body {
font-family: Arial, sans-serif;
background: #eaeaea;
padding: 30px;
}

.center {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.box {
background: white;
padding: 20px;
display: flex;
flex-direction: column;
gap: 10px;
}

table {
width: 100%;
background: white;
border-collapse: collapse;
}

th, td {
border: 1px solid #ccc;
padding: 10px;
}

