body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #0a1a2f;
    color: white;
}

.container-title-logo{
    display: flex;
    width: 400px;
    justify-content: space-between;
}

.container-title-logo > img{
    width: 150px;
    border-radius: 45%;
}

header a {
   color: white;
   margin-left: 15px;
   text-decoration: none;
}

.navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 16px 24px;
   background-color:#8dc6ff;
   font-family: 'Roboto', sans-serif;
}

.brand {
  font-size: 22px;
  font-weight: 700;
  color: white;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a{
    color: white;
    margin-left: 25px;
    text-decoration: none;
    font-weight: 500;
    position: relative;
}

.nav-links a:hover {
  color: #38bdf8;
}

.intro {
   background-image:url(/img/bg-image-section-ContentMKTMT2300002BFY23-Markets-Technology-Awareness-Whats-next-for-tech-Thought-leadershipAS3639.jpg) ;
   background-repeat: no-repeat;
   background-size: auto;
   padding: 40px;
   text-align: center;
   color: #f1f1f1;
}

.products {
   padding: 30px;
}

.products h2{
    text-align: center;
}

.product-list {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
}

.card {
   flex: 1 1 200px;
   border: 1px solid #ccc;
   padding: 10px;
   text-align: center;  
}

.detail {
   display: flex;
   justify-content: center;
   text-align: center;
   padding: 30px;
}

.product-ul{
    list-style: none;
}

.product-ul li{
    margin: 10px 0px;
}

footer {
   background: #0a1a2f;
   color: white;
   text-align: center;
   padding: 15px;
}

@media (max-width: 880px) {
.detail {
flex-direction: column;
}
}
